<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8"/>
	<title>Article Management System</title>
	<link rel="stylesheet" th:href="@{/css/index.css}"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css"/>
	<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
</head>
<body>	
	<div th:replace="fragments/header :: header"></div>
	
	<div class="ui container" layout:fragment="content">	
		
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>