<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1"/>
	<title th:text="${addStatus==true?'Add Article':'Update Article'}">Article Management System</title>
	<link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>
	<h1 th:text="${addStatus==true?'Add Article':'Update Article'}">Add Article</h1>
	
	<form th:action="${addStatus==true?'/article/save':'/article/update'}" th:object="${article}" method="POST" enctype="multipart/form-data">
		<table>
			<tr>
				<td>Id: </td>
				<td>
					<input type="text" th:field="*{id}"/>
				</td>
			</tr>
			<tr>
				<td>Title: </td>
				<td>
					<input type="text" th:field="*{title}"/>
					<span th:if="${ #fields.hasErrors('title') }" th:errors="*{title}"></span>
				</td>
			</tr>
			<tr>
				<td>Description: </td>
				<td><input type="text" th:field="*{description}"/></td>
			</tr>
			<tr>
				<td>Author: </td>
				<td><input type="text" th:field="*{author}"/></td>
			</tr>
			<tr>
				<td>Thumbnail: </td>
				<td><input type="file" name="file"/></td>
			</tr>			
			<tr>
				<td></td>
				<td><input type="submit" value="SAVE" th:value="${addStatus==true?'Add':'Update'}"/></td>
			</tr>		
		</table> 
	</form>
</body>
</html>