<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1"/>
	<title th:text="${addStatus==true?'Add Article':'Update Article'}">Article Management System</title>
	<link rel="stylesheet" th:href="@{/css/index.css}"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css"/>
	<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
</head>
<body>	
	<div class="ui stackable menu">
		<div class="item">
			<img style="height: 30px; width: 30px;"
				src="https://semantic-ui.com/images/logo.png" />
		</div>
		<a href="/" class="item active">Articles</a> <a href="/category"
			class="item">Categories</a> <a href="/about" class="item">About</a>
	</div>
	
	<div class="ui container">
		<h1 th:text="${addStatus==true?'Add Article':'Update Article'}">Add article</h1>
		<form class="ui form error" action="" th:action="${addStatus==true?'/article/save':'/article/update'}" th:object="${article}" method="POST" enctype="multipart/form-data">
			<div th:if="${#fields.hasErrors('*')}" class="ui error message">
			    <div class="header">Error Occur</div>
			    <p>Please complete all the information!</p>
			</div>
			<div class="field">
				<input type="hidden" th:field="*{id}"/>
		  	</div>
			<div class="field">
		    	<label>Title</label>
		    	<input type="text" th:field="*{title}"/>
				<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="ui error message">Error Message</span>
		  	</div>
		  	<div class="field">
		    	<label>Description</label>
		    	<textarea rows="5" th:field="*{description}"></textarea>
				<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="ui error message">Error Message</span>
		  	</div>
		  	<div class="field">
		    	<label>Thumbnail</label>
		  		<div th:if="${addStatus==false}">
			  		<img th:src="*{thumbnail}" style="width:100px; height:100px"/>
			  		<input type="hidden" th:field="*{thumbnail}"/>
			  	</div>
		    	<input type="file" name="file" th:attr="required=${addStatus==true?'true':'false'}"/>
				<span th:if="${#fields.hasErrors('thumbnail')}" th:errors="*{thumbnail}" class="ui error message">Error Message</span>
		  	</div>
		  	
		  	<div class="ui buttons right floated">
			  <a href="/" class="ui button">Cancel</a>
			  <div class="or"></div>
			  <input class="ui positive button" type="submit" th:value="${addStatus==true?'Add':'Update'}"/>
			</div>
		</form>
	</div>
	
	<div class="ui container" th:fragment="footer">
		<h3>@KompongSom Footer</h3>
	</div>
	
</body>
</html>