<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1"/>
	<title>Article Management System</title>
	<link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>

	<h1>Article Management System !</h1>
	<a href="/article/add">Add Article</a>
	<table>
		<tr>
			<th>Id</th>
			<th>Title</th>
			<th>Description</th>
			<th>Author</th>
			<th>Thumbnail</th>
			<th>Action</th>
		</tr>
		<tr th:each="article : ${articles}" th:object="${article}">
			<td th:text="*{id}"></td>
			<td th:text="*{title}"></td>
			<td th:text="*{description}"></td>
			<td th:text="*{author}"></td>
			<td>
				<img src="" th:src="*{thumbnail}"/>
			</td>
			<td>
				<!-- <a href="#" th:href="@{/article/view(id=*{id})}">View</a> -->
				<a href="#" th:href="@{/article/view/{id}(id=*{id})}">View</a>
				<a href="#" th:href="@{/article/edit/{id}(id=*{id})}">Edit</a>
				<a href="#" th:href="@{/article/remove/{id}(id=*{id})}">Remove</a>
			</td>
		</tr>
	</table>
</body>
</html>