<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1"/>
	<title>Article Management System</title>
	<link rel="stylesheet" th:href="@{/css/index.css}"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css"/>
	<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
</head>
<body>
	<div class="ui stackable menu">
		<div class="item">
			<img style="height: 30px; width: 30px;"
				src="https://semantic-ui.com/images/logo.png" />
		</div>
		<a href="/" class="item active">Articles</a> <a href="/category"
			class="item">Categories</a> <a href="/about" class="item">About</a>
	</div>

	<div class="ui container">
		<div th:object="${article}">
			<img th:src="*{thumbnail}" style="width: 300px; height: 300px;"/>
			<p th:inline="text">ID: [[*{id}]]</p>
			<p th:inline="text">Title: [[*{title}]]</p>
			<p th:inline="text">Description: [[*{description}]]</p>
		</div>
	</div>
	
	<div class="ui container" th:fragment="footer">
		<h3>@KompongSom Footer</h3>
	</div>
	
</body>
</html>