<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1"/>
	<title>Article Management System</title>
	<link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>
	<h1>Update Article</h1>
	<form th:action="@{/article/update}" th:object="${article}" method="POST">
		<input type="text" th:field="*{id}"/>
		<input type="text" th:field="*{title}"/>
		<input type="text" th:field="*{description}"/>
		<input type="text" th:field="*{thumbnail}"/>
		<input type="text" th:field="*{author}"/>
		<input type="submit" value="SAVE"/> 
	</form>
	
</body>
</html>